 
body {
  padding: 0;
  margin: 0;
  background-color: #f6edd7;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.left{
  z-index: 1024;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
}
 /*** Menu Styles ***/
 #menu {
  justify-content: center;
  padding-right: 0;
}


#menu-toggle {
  z-index: 1024;
  position: fixed;
  top: 0;
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  cursor: pointer;
  display: none;
  background-color: #5c5434;
  border-radius: 0  0 40px 40px;
}
#menu-toggle:hover .bar:nth-child(2) {
  margin-left: 0;
  width: 30px;
}
#menu-toggle:hover .bar:last-child {
  margin-left: 0;
  width: 30px;
}

#menu-toggle.closeMenu {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-left: 6px;
  padding-top: 1px;
}

#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  transform: translateY(7px) rotate(45deg);
  width: 30px;
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  transform: translateY(-25px) rotate(-45deg)translateX(-15px);
  width: 30px;
}

#menu-toggle.closeMenu:hover .bar:nth-child(2) {
  margin-left: 6px;
  width: 30px;
}
#menu-toggle.closeMenu:hover .bar:last-child {
  margin-left: 6px;
  width: 30px;
}


.bar {
  width: 30px;
  height: 3px;
  background: #f3e3bb;
  transition: 0.3s ease-in-out;
  border-radius: 2px;
}
.bar:nth-child(2) {
  width: 25px;
  height: 3px;
  margin: 8px 0;
  margin-left: 5px;
}
.bar:last-child {
  height: 3px;
  width: 20px;
  margin-left: 10px;
}

#menu-toggle {
  display: flex;
}

#head-line {
  transform: scale(0.8);
}

.topnav {
  z-index: 1024;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #5c5434;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  top: 0;
}

.topnav a {
  --color: #f6e1b9;
  font-family: inherit;
  display: inline-block;
  height: 20px;
  margin: 0px 1px 5px 1px;
  position: relative;
  overflow: hidden;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  color: var(--color);
  padding: 10px 30px;
  text-align: center;
  float: left;
  display: block;
  color: #f6e1b9;
  text-decoration: none;
  margin-top: 5vh;
 }
 
 .topnav a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 300px;
  border-radius: 50%;
 }
 
 .topnav a:hover {
  color: #5c5434;
 }
 
 .topnav a:before {
  bottom: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .topnav a:hover:before {
  bottom: -30px;
  left: -30px;
 }
 
 .topnav a:active:before {
  background: #f3e3bb;
  transition: background 0s;
 }
 .topnav .active{
  color: #5c5434;
  background: #f3e3bb;
 }

.topnav .icon {
  display: none;
}

.uvod_text{
  font-size: 25px;
  position: absolute;
  text-align: center;
  width: 100vw;
  display: flex ;
  flex-direction: column;
  align-items:center;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 15vh;
  color: white;
  line-height: 40px;
  z-index: 0;
}
#logo{
  width: 280px;
  height: auto;
}
.uvod_text p{
  width: 60vw;
  text-shadow: #f3e3bb 1px 0 10px;
}
.uvod{
  width: 100vw;
  height: 120vh;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 95vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column_obrazek{
  z-index: 0;
  height: 30vh; 
  width: 92vw;
  position: relative;
  border-radius: 20px 20px 0px 0px;
}
.column_obrazek img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 20px 20px 0px 0px;
}
#column {
  position: relative;
  z-index: 0;
  text-align: center;
  align-items: center;
  width: 90vw;
  background: rgba(92, 84, 52, 0.5);
  height: 59vh;
  font-size: 17px;
  padding: 1vw;
  border-radius: 0px 0px 20px 20px;
  color: white;
  display: flex;
  justify-content: center;
  line-height: 18px;
}

.column_text{
  position: relative;
}
.uvod_img{
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}
.uvod_fotka{
  top: 0;
  z-index: -1024;
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  filter: brightness(50%);
}


/*        KONTAKT        */

.form-container {
  position: absolute;
  top: 70vh;
  width: 80vw;
  height: 50vh;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #f6e1b9;
  background-color: #5c5434;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-row {
  margin-bottom: 10px;
  color: #000;
}

.input-row label {
  color: #f6e1b9;
  font-size: 18px;
}

.input-field {
  width: 90%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #f6e1b9;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  color: #000;
  margin-top: 2px;
}

.input-field:focus {
  background-color: #f6e1b9;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #5c5434,
             -13px -13px 100px #f6e1b9;
}

.span-field {
  font: Arial;
  font-size: small;
  text-decoration: none;
}

.btn-submit {
  height: 5vh;
  padding: 0px 60px;
  background: #f6e1b9;
  border: none;
  color: #000000;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.errorMessage {
  background-color: #e66262;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 25px;
}

.successMessage {
  background-color: #9fd2a1;
  border: #91bf93 1px solid;
  padding: 5px 10px;
  color: #3d503d;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9em;
}

.info {
  font-size: .8em;
  color: #e66262;
  letter-spacing: 2px;
  padding-left: 5px;
}


#kontakt_sedy {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 45vh;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 10px;
}

#kontakt_ikona {
  margin-top: 5px;
  margin-left: 5px;
  height: 7vh;
}

.facebook_icon{
  width: 6vh;
  margin-left: 5px;
}
.a{
  margin-left: 20px;
}


#mapid{
  position: absolute;
  left: 5vw;
  top: 130vh;
  height: 55vh;
  width: 90vw;
  border-radius: 10px 10px 0 0;
  border: 2px solid #5c5434;
}

.txt{
  color: rgb(0, 0, 0);
}


/*        NABÍDKA         */
.nabidka{
  height: 110vh;
  width: 100vw;
  position: relative;
  top: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0;
}
.vypis{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.radek {
  width: 30vw;
  height: 20vh;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  padding: 20px;
  background: transparent;
  border: 2px solid #f6e1b9;
  box-shadow: 2px 2px 15px #5c5434 inset,
  2px 2px 15px #5c5434 ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico';
  font-size: 20px;
}

/*         ONAS       */

.mapa {
  margin-top: 15vw;
  margin-left: 25vw;
}

p.onas {
  margin-left: 10vw;
  margin-top: 0px;
  width: 80%;
}

/*         ZVIRATA         */
.popis{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items:center;
}

.card {
  top: 5vh;
  height: 100vh;
  width: 90vw;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items:center;
 }
 
  /*Image*/
 .card-image {
  background-color: rgba(92, 84, 52, 0.5);
  border-radius: 10px;
  height: 30vh;
  width: 90vw;
  padding: 0.5vw;
  border-radius: 10px 10px 0px 0;
 }
 .card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
 }

 .card-image.pravo{
  margin-top: -117vh;
 }

 /*Description */
 .card-description {
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(92, 84, 52, 0.5);
  height: 80vh;
  width: 81vw;
  top: 70vh;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 5vw;
  border-radius: 0 0px 10px 10px;
 }
.card-description.pravo{
  margin-top: 0vh;
}

 /*Text*/
 .card-description .nazev{
  font-size: 20px;
  margin: 5px;
 }
 
 .text-body {
  font-size: 15px;
  line-height: 120%;
 }
 
 
  

  
/*        GALERIE         */
.galerie{
  width: 100vw;
  position: absolute;
  top: 18vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;  
    align-items: center;
    justify-content: center;
    width: 80vw;     
  }

.gallery-image {
    position: relative;
    margin: 0;
    padding: 0;
    transform: scale(1);
    transition: all 0.5s;
  }

  .gallery-image:hover {
    z-index: 1000;
    transform: scale(1.5);
  }

  
  .gallery-image img {
    border-radius: 5px;
    object-fit: cover;
    height: 35vh;
    width: 35vw;
    margin: 5px;
    margin-bottom: 1vw;
    border: 2px solid #5c5434;
  }
  
 
button.mfp-close {
    opacity: 1;
    margin-top: 0 !important;
    width: 20%;
    height: 30%;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
  }
  button.mfp-close:before, button.mfp-close:after {
    content: "";
    position: absolute;
    top: 40px;
    right: 20px;
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    border-top: 4px solid #f6e1b9;
    border-left: 4px   solid #f6e1b9;
  }
  button.mfp-close:before {
    margin-right: 4px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  button.mfp-close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  button.mfp-close:hover:before {
    margin-right: -4px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  button.mfp-close:hover:after {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  button.mfp-close:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .mfp-with-zoom.mfp-bg {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
  }
  .mfp-with-zoom img.mfp-img {
    padding: 0;
  }
  .mfp-with-zoom .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-with-zoom .mfp-container {
    padding: 0;
  }
  .mfp-with-zoom .mfp-content {
    overflow: hidden;
  }
  .mfp-with-zoom .mfp-bottom-bar {
    top: auto;
    bottom: 0;
    margin-top: 0;
  }
  .mfp-with-zoom .mfp-title {
    top: auto;
    bottom: 2em;
  }
  

 
  .mfp-arrow-right {
    right: 0;
  }

  .mfp-arrow-left {
    left: 0;
  } 
 
  .mfp-arrow-left:hover{
    margin-left:-10px;
  }
  .mfp-arrow-right:hover{
    margin-right:-10px;
  }

